*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 31, 31);
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('images/684574-black-cartoon-girl-wallpaper-top-free-black-cartoon-girl-background.webp');
    background-size: 35% auto;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

