*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 31, 31);
    color: white;
}
#header{
    width: 400px; /* Set a fixed width for the circular image */
    height: 400px; /* Set the height equal to the width */
    background-image: url('/static/images/girl.jpg');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center right; /* Center the image within the circle */
    background-repeat: no-repeat;
    border-radius: 50%; /* This makes the image circular */
    overflow: hidden; /* Hides any overflow beyond the border */
    display: flex;
    justify-content: center;
    align-items: center;;
    
   
}

