@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: rgb(10, 10, 10);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(46, 146, 146);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 40px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;

}
.navbar a:hover, 
.navbar a.active
{
    color: rgb(34, 34, 51);
}