<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan's Portfolio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Joan.</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>Hello! I'm Joan Chege</h1>
            <h3>Computer Science Graduate | Software Engineer | Devops Engineer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem architecto repellendus veniam eligendi. Provident consequatur, veniam non nemo, aut porro nobis ab cumque facere delectus veritatis cupiditate, pariatur neque itaque.</p>
            <div class="btn-box">
                <a href="#" class="btn">Hire me</a>
            </div>
        </div>
    </section>
</body>
</html>